<h1 class="text-center" >Answer🚀</h1>

<div class="card text-center">
  <div class="card-body">
    <p><%=@answer%></p>
    <p><%= @message%></p>
    <%= link_to "Ask Another Question!", ask_path, class: "btn btn-success" %>
  </div>
</div>




