<h1 class="text-center">🚀Ask🚀</h1>
<form class="text-center" action="/answer">
  <input type="text" class="form-group" value="<%= params[:question] %>" name="question" placeholder="Who are you looking for?">
  <input type="submit" class="btn btn-outline-primary" value="Ask!">
</form>
